@charset "UTF-8";
.multipleInputBox{
	box-sizing: border-box;
}
.multipleInputBox-inline{
	display: inline-block;
}
.multipleInputBox-boxes{
	display: inline-block;
	align-items: center; /* 세로 중앙 */
}
.multipleInputBox-boxes:empty::before{
	content: "empty";
	color:#999;
	margin:0 0.2em;
}
.multipleInputBox-box{
	display: inline-flex;
	align-items: center; /* 세로 중앙 */
	min-width:2em;
	/* width:10em; */
	position: relative;
	box-sizing: border-box;
	vertical-align: middle;
	margin:0 0.2em;


}

.multipleInputBox-btn{
	font-size: inherit;
	flex: 0 0 auto;
	padding:0;margin:0;
	width:1em;height: 1em;line-height: 1em;
	align-items: center;
	border-width:0;
	border-radius: 0.5em;
	position: relative;
	background-color: transparent;
}
.multipleInputBox-text{
	width: 100%;
	min-width: 3em;
	outline-width: 0;
	font-size: 1em;
	flex: 1 1 100%;
	padding:0;margin:0;
	height: 1em;line-height: 1em;
	align-items: center;
	overflow: visible;
	text-decoration: none;
	white-space: nowrap;
	box-sizing: border-box;
	border-width: 0;
	border-bottom: 1px dashed #999;
}
.multipleInputBox-text *{
	display: inline-block;
	text-decoration: none;font-weight: normal;font-style: normal;	
}
.multipleInputBox-text:focus + .multipleInputBox-btns{
	opacity: 0.2;
	pointer-events: none;
}

.multipleInputBox-btn-remove{
	font-size: 0.7em;
	width: auto; padding:0 0.2em;
	vertical-align: super;
	background-color: #CC4C27;
	color: #fff;
}
.multipleInputBox-btn-remove::before{
	content: "×"
}
.multipleInputBox-btn-add{
	background-color: #54CC27;
	color: #fff;	
}
.multipleInputBox-btn-add::before{
	content: "＋"
}